<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="dcendeavdbConnectionString" connectionString="Data Source=205.178.152.126;Initial Catalog=dcendeavdb;Persist Security Info=True;User ID=dcendeavadmin;Password=24DCEnDeavors!"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
